           body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
}
p {
    margin-bottom: 12px;
}
h1 {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 0px;   
}
h2{
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid grey;   
}
h3{
    font-weight: normal;
}
#header{
    margin-bottom: 32px;
    text-align: center;
} 
#footer{
    margin-top: 64px;
    text-align: center;
}
#main{
    text-align: center;   
}
.black-square {
  width: 150px;
  height: 100px;
  padding: 20px;
  text-align: center;  
  background: black;
  color: #FFF;
}

.animate-hover:hover {
  position: relative;
  top: 20px;
  left:0px;
  cursor: pointer;
}
